* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
header {
  height: 200px;
  font-size: 30px;
  background-color: rgb(81, 39, 167);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  text-align: center;
  margin: 20px;
}
span {
  font-size: 20px;
  margin: 20px;
}
div {
  margin: 10px 30px 10px 30px;
  text-align: center;
}
table {
  text-align: center;
  font-size: 30px;
  margin: 25px;
}
